@import url('https://fonts.googleapis.com/css?family=Nunito:400,600');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap-grid.min.css');
@import url('https://use.fontawesome.com/releases/v5.3.1/css/all.css');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  background-color: #fff;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
  text-decoration: none;
  color: #222;
}
i.fas {
  color: #769fcd;
}

/* Container */
.main-container {
  position: relative;
  top: 50px;
  width: 760px;
  margin: auto;
  padding: 20px 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


.box {
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #769fcd50;
  width: 100%;
  height: auto;
  margin: 15px auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
  .box h1 {
    font-size: 22px;
    font-weight: 600;
    padding-bottom: 10px;
    color: #111;
  }
  .box p {
    font-size: 12px;
    font-weight: lighter;
  }

.main-button {
  margin: 30px 0 -5px;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #769fcd ;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: .2s all ease-in-out;
}
  .main-button:hover,
  .main-button:focus {
    transform: scale(.98);
  }

.popular-text {
  position: relative;
  /* left: 70px; */
  font-size: 34px;
  font-weight: bolder;
  line-height: 2.5;
  padding: 0px 20px;
}

.search-bar {
  position: relative;
  width: 100%;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: #f7fbfc;
  border: 1px solid #dae4ec;
  outline: none;
  font-size: 14px;
  color: #222;
}


/* Responsive */
@media only screen and (max-width: 768px) {
  .main-container {
    width: 100% !important;
  }
  .popular-text {
    left: 0;
    text-align: center;
    font-size: 28px;
  }
}